<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.ssm.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.bj186.ssm.pojo.Department">
    <id column="depId" jdbcType="INTEGER" property="depid" />
    <result column="depName" jdbcType="VARCHAR" property="depname" />
    <result column="depInfor" jdbcType="VARCHAR" property="depinfor" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <collection column="depId" property="staffs" select="getStaffs" />
  </resultMap>
  <sql id="Base_Column_List">
    depId, depName, depInfor, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dep
    where depId = #{depid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dep
    where depId = #{depid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.ssm.pojo.Department">
    <selectKey keyProperty="depid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dep (depName, depInfor, remark
      )
    values (#{depname,jdbcType=VARCHAR}, #{depinfor,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.ssm.pojo.Department">
    <selectKey keyProperty="depid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dep
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depname != null">
        depName,
      </if>
      <if test="depinfor != null">
        depInfor,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depname != null">
        #{depname,jdbcType=VARCHAR},
      </if>
      <if test="depinfor != null">
        #{depinfor,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.ssm.pojo.Department">
    update dep
    <set>
      <if test="depname != null">
        depName = #{depname,jdbcType=VARCHAR},
      </if>
      <if test="depinfor != null">
        depInfor = #{depinfor,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where depId = #{depid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.ssm.pojo.Department">
    update dep
    set depName = #{depname,jdbcType=VARCHAR},
      depInfor = #{depinfor,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where depId = #{depid,jdbcType=INTEGER}
  </update>
  <select id="getStaffs" resultMap="com.bj186.ssm.mapper.StaffMapper.BaseResultMap">
    select empId,empName,empSex,empAge,empPhone,empWage,empEmail,empPay,empLastTime,remark from emp where depId=#{depId} 
  </select>
</mapper>