<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.ssm.mapper.RoomImgMapper">
  <resultMap id="BaseResultMap" type="com.bj186.ssm.pojo.RoomImg">
    <id column="rimgId" jdbcType="INTEGER" property="rimgid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association column="roomId" property="room" select="getRoom" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.bj186.ssm.pojo.RoomImg">
    <id column="rimgId" jdbcType="INTEGER" property="rimgid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgurl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    rimgId, status, imgUrl, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rimg
    where rimgId = #{rimgid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rimg
    where rimgId = #{rimgid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.ssm.pojo.RoomImg">
    <selectKey keyProperty="rimgid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rimg (status, imgUrl, remark
      )
    values (#{status,jdbcType=INTEGER}, #{imgurl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.ssm.pojo.RoomImg">
    <selectKey keyProperty="rimgid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rimg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="status != null">
        status,
      </if>
      <if test="imgurl != null">
        imgUrl,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.ssm.pojo.RoomImg">
    update rimg
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="imgurl != null">
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where rimgId = #{rimgid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.ssm.pojo.RoomImg">
    update rimg
    set status = #{status,jdbcType=INTEGER},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where rimgId = #{rimgid,jdbcType=INTEGER}
  </update>
  <select id="getRoom" resultMap="com.bj186.ssm.mapper.RoomMapper.BaseResultMap">
    select roomId,roomNum,newPrice,promotion,defImg,state,remark from room where roomId=#{roomId}
  </select>
</mapper>