<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.ssm.mapper.TakeOutMapper">
  <resultMap id="BaseResultMap" type="com.bj186.ssm.pojo.TakeOut">
    <id column="takeout_Id" jdbcType="VARCHAR" property="takeoutId" />
    <result column="takeout_time" jdbcType="TIMESTAMP" property="takeoutTime" />
    <result column="audit_state" jdbcType="INTEGER" property="auditState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association column="userId" property="user" select="getUser" />
    <collection column="takeout_order_Id" property="takeOrders" select="getTakeOrders" />
  </resultMap>
  <sql id="Base_Column_List">
    takeout_Id, takeout_time, audit_state, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from takeout
    where takeout_Id = #{takeoutId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from takeout
    where takeout_Id = #{takeoutId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bj186.ssm.pojo.TakeOut">
    <selectKey keyProperty="takeoutId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into takeout (takeout_time, audit_state, remark
      )
    values (#{takeoutTime,jdbcType=TIMESTAMP}, #{auditState,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.ssm.pojo.TakeOut">
    <selectKey keyProperty="takeoutId" order="AFTER" resultType="java.lang.String">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into takeout
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="takeoutTime != null">
        takeout_time,
      </if>
      <if test="auditState != null">
        audit_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="takeoutTime != null">
        #{takeoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        #{auditState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.ssm.pojo.TakeOut">
    update takeout
    <set>
      <if test="takeoutTime != null">
        takeout_time = #{takeoutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditState != null">
        audit_state = #{auditState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where takeout_Id = #{takeoutId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.ssm.pojo.TakeOut">
    update takeout
    set takeout_time = #{takeoutTime,jdbcType=TIMESTAMP},
      audit_state = #{auditState,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where takeout_Id = #{takeoutId,jdbcType=VARCHAR}
  </update>
  <select id="getTakeOrders" resultMap="com.bj186.ssm.mapper.TakeOrderMapper.BaseResultMap">
    select takeout_order_Id,takeout_number from Takeout_order where takeout_order_Id=#{takeoutOrderId} 
  </select>
  <select id="getUser" resultMap="com.bj186.ssm.mapper.UserMapper.BaseResultMap">
    select userid,password,remark from users where usersId=#{userId}
  </select>
</mapper>