<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bj186.ssm.mapper.TakeOrderMapper">
  <resultMap id="BaseResultMap" type="com.bj186.ssm.pojo.TakeOrder">
    <id column="takeout_order_Id" jdbcType="INTEGER" property="takeoutOrderId" />
    <result column="takeout_number" jdbcType="INTEGER" property="takeoutNumber" />
    <association column="takeout_Id" property="takeOut" select="getTakeOut" />
    <association column="good_id" property="item" select="getItem" />
  </resultMap>
  <sql id="Base_Column_List">
    takeout_order_Id, takeout_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from takeout_order
    where takeout_order_Id = #{takeoutOrderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from takeout_order
    where takeout_order_Id = #{takeoutOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bj186.ssm.pojo.TakeOrder">
    <selectKey keyProperty="takeoutOrderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into takeout_order (takeout_number)
    values (#{takeoutNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bj186.ssm.pojo.TakeOrder">
    <selectKey keyProperty="takeoutOrderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into takeout_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="takeoutNumber != null">
        takeout_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="takeoutNumber != null">
        #{takeoutNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bj186.ssm.pojo.TakeOrder">
    update takeout_order
    <set>
      <if test="takeoutNumber != null">
        takeout_number = #{takeoutNumber,jdbcType=INTEGER},
      </if>
    </set>
    where takeout_order_Id = #{takeoutOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bj186.ssm.pojo.TakeOrder">
    update takeout_order
    set takeout_number = #{takeoutNumber,jdbcType=INTEGER}
    where takeout_order_Id = #{takeoutOrderId,jdbcType=INTEGER}
  </update>
  <select id="getTakeOut" resultMap="com.bj186.ssm.mapper.TakeOutMapper.BaseResultMap">
    select takeout_Id,takeout_time,audit_state,remark from takeout where takeout_Id=#{takeoutId}
  </select>
  <select id="getItem" resultMap="com.bj186.ssm.mapper.ItemMapper.BaseResultMap">
    select itemId,itemName,unit,enterprice,sellprice from itemInfo where itemId=#{goodId}
  </select>
</mapper>